

.card__1c {
  background: url("@/assets/images/cards/1c.png");
  background-size: cover;
}
.card__2c {
  background: url("@/assets/images/cards/2c.png");
  background-size: cover;
}
.card__3c {
  background: url("@/assets/images/cards/3c.png");
  background-size: cover;
}
.card__4c {
  background: url("@/assets/images/cards/4c.png");
  background-size: cover;
}
.card__5c {
  background: url("@/assets/images/cards/5c.png");
  background-size: cover;
}
.card__6c {
  background: url("@/assets/images/cards/6c.png");
  background-size: cover;
}
.card__7c {
  background: url("@/assets/images/cards/7c.png");
  background-size: cover;
}
.card__8c {
  background: url("@/assets/images/cards/8c.png");
  background-size: cover;
}
.card__9c {
  background: url("@/assets/images/cards/9c.png");
  background-size: cover;
}
.card__10c {
  background: url("@/assets/images/cards/10c.png");
  background-size: cover;
}
.card__11c {
  background: url("@/assets/images/cards/11c.png");
  background-size: cover;
}
.card__12c {
  background: url("@/assets/images/cards/12c.png");
  background-size: cover;
}
.card__13c {
  background: url("@/assets/images/cards/13c.png");
  background-size: cover;
}
.card__1d {
  background: url("@/assets/images/cards/1d.png");
  background-size: cover;
}
.card__2d {
  background: url("@/assets/images/cards/2d.png");
  background-size: cover;
}
.card__3d {
  background: url("@/assets/images/cards/3d.png");
  background-size: cover;
}
.card__4d {
  background: url("@/assets/images/cards/4d.png");
  background-size: cover;
}
.card__5d {
  background: url("@/assets/images/cards/5d.png");
  background-size: cover;
}
.card__6d {
  background: url("@/assets/images/cards/6d.png");
  background-size: cover;
}
.card__7d {
  background: url("@/assets/images/cards/7d.png");
  background-size: cover;
}
.card__8d {
  background: url("@/assets/images/cards/8d.png");
  background-size: cover;
}
.card__9d {
  background: url("@/assets/images/cards/9d.png");
  background-size: cover;
}
.card__10d {
  background: url("@/assets/images/cards/10d.png");
  background-size: cover;
}
.card__11d {
  background: url("@/assets/images/cards/11d.png");
  background-size: cover;
}
.card__12d {
  background: url("@/assets/images/cards/12d.png");
  background-size: cover;
}
.card__13d {
  background: url("@/assets/images/cards/13d.png");
  background-size: cover;
}
.card__1s {
  background: url("@/assets/images/cards/1s.png");
  background-size: cover;
}
.card__2s {
  background: url("@/assets/images/cards/2s.png");
  background-size: cover;
}
.card__3s {
  background: url("@/assets/images/cards/3s.png");
  background-size: cover;
}
.card__4s {
  background: url("@/assets/images/cards/4s.png");
  background-size: cover;
}
.card__5s {
  background: url("@/assets/images/cards/5s.png");
  background-size: cover;
}
.card__6s {
  background: url("@/assets/images/cards/6s.png");
  background-size: cover;
}
.card__7s {
  background: url("@/assets/images/cards/7s.png");
  background-size: cover;
}
.card__8s {
  background: url("@/assets/images/cards/8s.png");
  background-size: cover;
}
.card__9s {
  background: url("@/assets/images/cards/9s.png");
  background-size: cover;
}
.card__10s {
  background: url("@/assets/images/cards/10s.png");
  background-size: cover;
}
.card__11s {
  background: url("@/assets/images/cards/11s.png");
  background-size: cover;
}
.card__12s {
  background: url("@/assets/images/cards/12s.png");
  background-size: cover;
}
.card__13s {
  background: url("@/assets/images/cards/13s.png");
  background-size: cover;
}
.card__1h {
  background: url("@/assets/images/cards/1h.png");
  background-size: cover;
}
.card__2h {
  background: url("@/assets/images/cards/2h.png");
  background-size: cover;
}
.card__3h {
  background: url("@/assets/images/cards/3h.png");
  background-size: cover;
}
.card__4h {
  background: url("@/assets/images/cards/4h.png");
  background-size: cover;
}
.card__5h {
  background: url("@/assets/images/cards/5h.png");
  background-size: cover;
}
.card__6h {
  background: url("@/assets/images/cards/6h.png");
  background-size: cover;
}
.card__7h {
  background: url("@/assets/images/cards/7h.png");
  background-size: cover;
}
.card__8h {
  background: url("@/assets/images/cards/8h.png");
  background-size: cover;
}
.card__9h {
  background: url("@/assets/images/cards/9h.png");
  background-size: cover;
}
.card__10h {
  background: url("@/assets/images/cards/10h.png");
  background-size: cover;
}
.card__11h {
  background: url("@/assets/images/cards/11h.png");
  background-size: cover;
}
.card__12h {
  background: url("@/assets/images/cards/12h.png");
  background-size: cover;
}
.card__13h {
  background: url("@/assets/images/cards/13h.png");
  background-size: cover;
}
.card__back {
  background: url("@/assets/images/cards/back.png");
  background-size: cover;
}